*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.wrapper{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);  
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 500px;
  padding: 5vw;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 65px 16px rgba(238, 233, 49, 0.4);
  -moz-box-shadow: 0px 0px 65px 16px rgba(238, 233, 49, 0.4);
  box-shadow: 0px 0px 65px 16px rgba(238, 233, 49, 0.4);
}
.form-select{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-select select{
  border-radius: 4px;
  font-size: 1.2rem;
  padding: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main input{
  border: none;
  outline: none;
  cursor: pointer;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 4px;
}
main h1{
  color: orangered;
  margin: 1rem 0;
}
p{
  font-weight: bold;
  margin: 1rem 0;
}
.game-time{
  color: #FFFF00;
}
footer a{
  color: orangered;
  text-decoration: none;
}
footer i a {
  text-decoration: none;
}
footer i {
  color: #2AF598;

}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.5);
  padding: 2rem;
  line-height: 4rem;
  z-index: 10;
  text-align: center;
  border-radius: .5rem;
}
.modal h1{
  color: orangered;
}
.modal h3 {
  color: red;
}
.modal button{
  padding: .8rem 1rem ;
  color: green;
  font-size: 1.2rem;
  margin: 5px;
  border-radius: .5rem;
  border: none;
  outline: none;
}
.overflow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}
.hidden{
  display: none;
}
.heart{
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes animation {
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}